# Configuration file

bosses {
    # A list of potions (registry names) that bosses cannot generate with. [default: ]
    S:"Blacklisted Potions" <
     >

    # The possible mob types for bosses.  Format is weight@entity, entity is a registry name. [default: [4@minecraft:zombie], [3@minecraft:skeleton], [2@minecraft:spider], [1@minecraft:cave_spider], [1@minecraft:creeper], [1@minecraft:wither_skeleton]]
    S:"Boss Spawner Mobs" <
        4@minecraft:zombie
        3@minecraft:skeleton
        2@minecraft:spider
        1@minecraft:wither_skeleton
     >

    # The percent chance a boss has fire resistance. [range: 0.0 ~ 3.4028235E38, default: 0.5]
    S:"Fire Resistance"=0.5

    # The level up chance, this is rolled once per number of levels.  Levels determine gear. [range: 0.0 ~ 2.14748365E9, default: 0.4]
    S:"Level Up Chance"=0.4

    # The max amount of extra damage bosses do, in half hearts. [range: 0.0 ~ 2.14748365E9, default: 3.0]
    S:"Max Damage Bonus"=3.0

    # The max amount boss health is multiplied by.  Base hp * factor = final hp. [range: 0.0 ~ 2.14748365E9, default: 4.0]
    S:"Max Health Multiplier"=4.0

    # The max amount of knockback resist bosses have. [range: 0.0 ~ 2.14748365E9, default: 1.0]
    S:"Max Knockback Resist"=1.0

    # The max regeneration level of bosses. [range: 0.0 ~ 2.14748365E9, default: 2.0]
    S:"Max Regen Level"=2.0

    # The max resistance level of bosses. [range: 0.0 ~ 2.14748365E9, default: 2.0]
    S:"Max Resistance Level"=2.0

    # The max amount boss speed is multiplied by.  Base speed * factor = final speed. [range: 0.0 ~ 2.14748365E9, default: 1.5]
    S:"Max Speed Multiplier"=1.5

    # The min amount of extra damage bosses do, in half hearts. [range: 0.0 ~ 2.14748365E9, default: 1.2]
    S:"Min Damage Bonus"=1.2

    # The min amount boss health is multiplied by.  Base hp * factor = final hp. [range: 0.0 ~ 2.14748365E9, default: 2.0]
    S:"Min Health Multiplier"=2.0

    # The min amount of knockback resist bosses have. [range: 0.0 ~ 2.14748365E9, default: 0.5]
    S:"Min Knockback Resist"=0.5

    # The min regeneration level of bosses. [range: 0.0 ~ 2.14748365E9, default: 0.0]
    S:"Min Regen Level"=0.0

    # The min resistance level of bosses. [range: 0.0 ~ 2.14748365E9, default: 0.0]
    S:"Min Resistance Level"=0.0

    # The min amount boss speed is multiplied by.  Base speed * factor = final speed. [range: 0.0 ~ 2.14748365E9, default: 1.0]
    S:"Min Speed Multiplier"=1.0

    # The chance a gear piece will be randomly enchanted. [range: 0.0 ~ 2.14748365E9, default: 0.25]
    S:"Random Enchantment Chance"=0.25

    # The chance a boss will have extra random potion effects. [range: 0.0 ~ 2.14748365E9, default: 0.45]
    S:"Random Potion Chance"=0.45

    # The percent chance a boss has water breathing. [range: 0.0 ~ 3.4028235E38, default: 1.0]
    S:"Water Breathing"=1.0
}


"brutal spawners" {
    # The potion effects applied to all brutal mobs.  Format is potion@level, potion is a registry name. [default: [minecraft:resistance@2], [minecraft:fire_resistance@1], [minecraft:regeneration@1], [minecraft:speed@2], [minecraft:water_breathing@1], [minecraft:strength@1]]
    S:"Brutal Potion Effects" <
        minecraft:resistance@2
        minecraft:fire_resistance@1
        minecraft:regeneration@1
        minecraft:speed@2
        minecraft:water_breathing@1
        minecraft:strength@1
     >

    # The possible spawn entries for brutal spawners.  Format is weight@entity, entity is a registry name.  apotheosis:random is a special name, used to generate a spawner that spawns any mob. [default: [4@minecraft:zombie], [1@minecraft:skeleton], [1@minecraft:spider], [1@minecraft:cave_spider], [1@minecraft:creeper], [1@apotheosis:random]]
    S:"Brutal Spawner Mobs" <
        4@minecraft:zombie
        1@minecraft:skeleton
        1@minecraft:spider
        1@minecraft:cave_spider
        1@minecraft:creeper
        1@apotheosis:random
     >
}


dungeons {
    # The chance for a dungeon to have a brutal spawner. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Dungeon Brutal Chance"=0.05

    # The chance for a dungeon to have a swarm spawner. [range: 0.0 ~ 1.0, default: 0.1]
    S:"Dungeon Swarm Chance"=0.1
}


frequencies {
    # The chance (per chunk) for a boss to try spawning. [range: 0.0 ~ 1.0, default: 0.08]
    S:"Boss Chance"=0.08

    # The chance (per chunk) for a brutal spawner to try spawning. [range: 0.0 ~ 1.0, default: 0.12]
    S:"Brutal Spawner Chance"=0.12

    # The chance (per chunk) for a swarm spawner to try spawning. [range: 0.0 ~ 1.0, default: 0.15]
    S:"Swarm Spawner Chance"=0.15
}


general {
    # The biomes that the deadly module will not generate in. [default: [minecraft:warm_ocean], [minecraft:lukewarm_ocean], [minecraft:cold_ocean], [minecraft:frozen_ocean], [minecraft:deep_warm_ocean], [minecraft:deep_frozen_ocean], [minecraft:deep_lukewarm_ocean], [minecraft:deep_cold_ocean], [minecraft:ocean], [minecraft:deep_ocean]]
    S:"Generation Biome Blacklist" <
        minecraft:warm_ocean
        minecraft:lukewarm_ocean
        minecraft:cold_ocean
        minecraft:frozen_ocean
        minecraft:deep_warm_ocean
        minecraft:deep_frozen_ocean
        minecraft:deep_lukewarm_ocean
        minecraft:deep_cold_ocean
        minecraft:ocean
        minecraft:deep_ocean
     >

    # The dimensions that the deadly module will generate in. [default: [0]]
    S:"Generation Dimension Whitelist" <
        0
     >
}


"random spawners" {
    #  [range: 0 ~ 50, default: 1]
    I:"astralsorcery:entityflare"=1

    #  [range: 0 ~ 50, default: 1]
    I:"astralsorcery:entityliquidspark"=1

    #  [range: 0 ~ 50, default: 1]
    I:"astralsorcery:entityspectraltool"=1

    #  [range: 0 ~ 50, default: 1]
    I:"biomesoplenty:wasp"=1

    #  [range: 0 ~ 50, default: 1]
    I:"bloodmagic:corrupted_chicken"=1

    #  [range: 0 ~ 50, default: 1]
    I:"bloodmagic:corrupted_sheep"=1

    #  [range: 0 ~ 50, default: 1]
    I:"bloodmagic:corrupted_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"bloodmagic:corrupted_zombie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"bloodmagic:mimic"=1

    #  [range: 0 ~ 50, default: 1]
    I:"bloodmagic:sentient_specter"=1

    #  [range: 0 ~ 50, default: 1]
    I:"botania:doppleganger"=1

    #  [range: 0 ~ 50, default: 1]
    I:"botania:pink_wither"=1

    #  [range: 0 ~ 50, default: 1]
    I:"botania:pixie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"cyberware:cyberzombie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:glitch"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_cave_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_enderman"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_slime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"deepmoblearning:trial_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"draconicevolution:chaosguardian"=1

    #  [range: 0 ~ 50, default: 1]
    I:"embers:ancient_golem"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mekanism:babyskeleton"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mekanism:robit"=1

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:bat"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:blaze"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:cave_spider"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:chicken"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:cow"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:creeper"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:donkey"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:elder_guardian"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:ender_dragon"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:enderman"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:endermite"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:evocation_illager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:ghast"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:giant"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:guardian"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:horse"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:husk"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:illusion_illager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:llama"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:magma_cube"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:mooshroom"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:mule"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:ocelot"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:parrot"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:pig"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:polar_bear"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:rabbit"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:sheep"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:shulker"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:silverfish"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:skeleton"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:skeleton_horse"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:slime"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:snowman"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:spider"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:squid"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:stray"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:vex"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:villager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:villager_golem"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:vindication_illager"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:witch"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:wither"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:wither_skeleton"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:wolf"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie_horse"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie_pigman"=8

    #  [range: 0 ~ 50, default: 8]
    I:"minecraft:zombie_villager"=8

    #  [range: 0 ~ 50, default: 1]
    I:"mysticalworld:entity_beetle"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mysticalworld:entity_deer"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mysticalworld:entity_endermini"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mysticalworld:entity_fox"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mysticalworld:entity_frog"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mysticalworld:entity_lava_cat"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mysticalworld:entity_owl"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mysticalworld:entity_silkworm"=1

    #  [range: 0 ~ 50, default: 1]
    I:"mysticalworld:entity_sprout"=1

    #  [range: 0 ~ 50, default: 1]
    I:"soot:muse"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thermalfoundation:basalz"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thermalfoundation:blitz"=1

    #  [range: 0 ~ 50, default: 1]
    I:"thermalfoundation:blizz"=1

    #  [range: 0 ~ 50, default: 1]
    I:"touhou_little_maid:entity.monster.fairy"=1

    #  [range: 0 ~ 50, default: 1]
    I:"touhou_little_maid:entity.monster.rinnosuke"=1

    #  [range: 0 ~ 50, default: 1]
    I:"touhou_little_maid:entity.passive.maid"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:adherent"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:armored_giant"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:bighorn_sheep"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:blockchain_goblin"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:boggard"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:bunny"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:castle_guardian"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:death_tome"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:deer"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:fire_beetle"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:firefly"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:giant_miner"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:goblin_knight_lower"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:goblin_knight_upper"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:harbinger_cube"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:hedge_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:helmet_crab"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:hostile_wolf"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:hydra"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:hydra_head"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:ice_crystal"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:king_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:knight_phantom"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:kobold"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:lich"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:lich_minion"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:loyal_zombie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:maze_slime"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:mini_ghast"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:minoshroom"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:minotaur"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:mist_wolf"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:mosquito_swarm"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:naga"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:penguin"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:pinch_beetle"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:quest_ram"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:raven"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:redcap"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:redcap_sapper"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:rising_zombie"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:roving_cube"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:skeleton_druid"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:slime_beetle"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:snow_guardian"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:snow_queen"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:squirrel"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:stable_ice_core"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:swarm_spider"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:tiny_bird"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:tower_broodling"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:tower_ghast"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:tower_golem"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:tower_termite"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:troll"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:unstable_ice_core"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:ur_ghast"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:wild_boar"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:winter_wolf"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:wraith"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:yeti"=1

    #  [range: 0 ~ 50, default: 1]
    I:"twilightforest:yeti_alpha"=1
}


"spawner stats: brutal spawners" {
    # The maximum delay between spawns [range: 1 ~ 32767, default: 400]
    I:"Max Delay"=400

    # The maximum number of nearby entities (when hit, the spawner turns off). [range: 1 ~ 32767, default: 6]
    I:"Max Nearby Entities"=6

    # The minimum delay between spawns [range: 1 ~ 32767, default: 200]
    I:"Min Delay"=200

    # The required distance a player must be within for this spawner to work. [range: 1 ~ 32767, default: 16]
    I:"Player Range"=16

    # The number of mobs that will spawn. [range: 1 ~ 32767, default: 6]
    I:"Spawn Count"=6

    # The delay before first spawn on this spawner. [range: 1 ~ 32767, default: 20]
    I:"Spawn Delay"=20

    # The spawn range. [range: 1 ~ 32767, default: 4]
    I:"Spawn Range"=4
}


"spawner stats: swarm spawners" {
    # The maximum delay between spawns [range: 1 ~ 32767, default: 300]
    I:"Max Delay"=300

    # The maximum number of nearby entities (when hit, the spawner turns off). [range: 1 ~ 32767, default: 32]
    I:"Max Nearby Entities"=32

    # The minimum delay between spawns [range: 1 ~ 32767, default: 75]
    I:"Min Delay"=75

    # The required distance a player must be within for this spawner to work. [range: 1 ~ 32767, default: 8]
    I:"Player Range"=8

    # The number of mobs that will spawn. [range: 1 ~ 32767, default: 8]
    I:"Spawn Count"=8

    # The delay before first spawn on this spawner. [range: 1 ~ 32767, default: 20]
    I:"Spawn Delay"=20

    # The spawn range. [range: 1 ~ 32767, default: 6]
    I:"Spawn Range"=6
}


"swarm spawners" {
    # The possible spawn entries for swarm spawners.  Format is weight@entity, entity is a registry name. [default: [4@minecraft:zombie], [2@minecraft:skeleton], [5@minecraft:spider], [8@minecraft:cave_spider], [1@minecraft:creeper]]
    S:"Swarm Spawner Mobs" <
        4@minecraft:zombie
        2@minecraft:skeleton
        5@minecraft:spider
        1@minecraft:creeper
     >
}


