# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLACK=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLUE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALGREEN=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALLIGHTBLUE=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALRED=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALWHITE=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_ARMORMATERIALEMERALD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ACTUALLYADDITIONS_ARMORMATERIALGOGGLES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALOBSIDIAN=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_ARMORMATERIALQUARTZ=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ARCTIC=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:AS_IMBUEDLEATHER=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:B_ELEMENTIUM=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1]
    I:BiblioArmor=1

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL_EMPOWERED=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:HARDENEDLEATHER=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"IMMERSIVEENGINEERING:FARADAY"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"IMMERSIVEENGINEERING:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:IRONWOOD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:JACKET=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:JELLED_SLIME=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK_SJ=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTPHANTOM=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANASTEEL=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANAWEAVE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NAGA_SCALE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURAINFUSED_IRON=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:RESPIRATOR=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:SHADES=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:SHADES2=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:SYLVAN=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:TRENCHCOAT=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:WILDWOOD=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:WOOL=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:YETI=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:boron=6

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:boron_nitride=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:chaoticArmor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:draconicArmor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"embers:ashen_cloak"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:hard_carbon=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:hazmat=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"improvedbackpacks:backpack"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"improvedbackpacks:ender_backpack"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:infusedPotatoArmor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:potatoArmor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:spaceSuit=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:tanned_leather=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:tough=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wyvernArmor=15
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLACK=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLUE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALGREEN=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALLIGHTBLUE=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALRED=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALWHITE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALEMERALD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALOBSIDIAN=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_TOOLMATERIALQUARTZ=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 60]
    I:BA_MANA_STEALING=60

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:B_ELEMENTIUM=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:CRYSTAL=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:GIANTSTONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"IE:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:IRONWOOD=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:KATANA=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:LuxSaber=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:MANASTEEL=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:MANASTEEL_GLASS=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURA_INFUSED_IRON=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:SHENNONGTOOL=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:TFGLASS=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:TFICE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 21]
    I:bloodinfusediron=21

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:bloodinfusedwood=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:bound=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:darkSteel=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:demonic=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"embers:aluminum"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"embers:bronze"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"embers:clockworkAxe"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"embers:clockworkPickaxe"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"embers:copper"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"embers:dawnstone"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"embers:electrum"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"embers:grandhammer"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 4]
    I:"embers:lead"=4

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"embers:nickel"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"embers:silver"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"embers:tin"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 24]
    I:"embers:tyrfing"=24

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:endSteel=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:flint=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"mysticalworld:amethyst"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"mysticalworld:copper"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"mysticalworld:silver"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:spaxelhoe_boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:spaxelhoe_boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:spaxelhoe_hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:spaxelhoe_tough"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:tough"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 32]
    I:"silentgems:fake_material"=32

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 24]
    I:"soot:eitr"=24

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:stasis=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:stellarAlloy=25
}


