/*
!/README.md
!/Setting
!/EnigTech2
/EnigTech2/*
!/EnigTech2/minecraft
/EnigTech2/minecraft/*
!/EnigTech2/minecraft/scripts
!/EnigTech2/minecraft/config
!/EnigTech2/minecraft/resources
!/EnigTech2/minecraft/mods
!/EnigTech2/minecraft/animation
EnigTech2/minecraft/config/splash.properties
EnigTech2/minecraft/config/InvTweaks.cfg
EnigTech2/minecraft/config/enderio/recipes
EnigTech2/minecraft/config/astralsorcery.cfg
EnigTech2/minecraft/config/advRocketry/advancedRocketry.cfg
EnigTech2/minecraft/config/brandon3055/contributors.json
EnigTech2/minecraft/config/Guide-API/Guide-API.cfg
EnigTech2/minecraft/config/astralsorcery/amulet_enchantments.cfg
EnigTech2/minecraft/config/waitingtimestats.json
EnigTech2/minecraft/config/jei/worldSettings.cfg
EnigTech2/minecraft/config/jei/worldSettings.cfg
EnigTech2/minecraft/config/jei/bookmarks.ini
EnigTech2/minecraft/config/advRocketry/advancedRocketry.cfg
EnigTech2/minecraft/config/advRocketry/advancedRocketry.cfg
EnigTech2/minecraft/config/AppliedEnergistics2/VersionChecker.cfg
EnigTech2/minecraft/config/advRocketry/advancedRocketry.cfg
EnigTech2/minecraft/config/AppliedEnergistics2/VersionChecker.cfg
EnigTech2/minecraft/config/AppliedEnergistics2/VersionChecker.cfg
EnigTech2/minecraft/config/AppliedEnergistics2/VersionChecker.cfg
EnigTech2/minecraft/config/Guide-API/Guide-API.cfg
EnigTech2/minecraft/config/AppliedEnergistics2/VersionChecker.cfg
EnigTech2/minecraft/mods/OptiFine_1.12.2_HD_U_E3.jar
EnigTech2/minecraft/config/waila/waila.cfg
EnigTech2/minecraft/config/astralsorcery.cfg
EnigTech2/minecraft/config/AppliedEnergistics2/VersionChecker.cfg
EnigTech2/minecraft/scripts/.zsrc
EnigTech2/minecraft/config/Guide-API/Guide-API.cfg
EnigTech2/minecraft/config/enderstorage.cfg
EnigTech2/minecraft/config/advRocketry/advancedRocketry.cfg
