
EnigTech2/ET2LOGO.png
EnigTech2/instance.cfg
EnigTech2/minecraft/.ReAuth.cfg
EnigTech2/minecraft/BotaniaVars.dat
EnigTech2/minecraft/icon.png
EnigTech2/minecraft/journeymap/icon/theme/flat/container/htoolbar_begin.png
*.csv
EnigTech2/minecraft/.mixin.out/audit/mixin_implementation_report.txt
*.dat
*.log

EnigTech2/minecraft/logs/*
EnigTech2/minecraft/local/*
EnigTech2/minecraft/.mixin.out/*
EnigTech2/minecraft/astralsorcery/*
EnigTech2/minecraft/coremods/*
EnigTech2/minecraft/journeymap/*
EnigTech2/minecraft/patchouli_books/*
EnigTech2/minecraft/resourcepacks/*
EnigTech2/minecraft/saves/*
EnigTech2/minecraft/server-resource-packs/*
EnigTech2/minecraft/valkyrielib/*



EnigTech2/minecraft/options.txt
EnigTech2/minecraft/patchouli_data.json
EnigTech2/minecraft/usercache.json
EnigTech2/minecraft/usernamecache.json
EnigTech2/mmc-pack.json
