# Configuration file

client {
    # Show only a few example tool heads instead of all possibilities.
    B:"Show Example Tool Heads Only"=false
}


items {
    # Allow players to use blueprints, templates, or both?
    # Valid values: [BOTH, BLUEPRINT, TEMPLATE] [default: BOTH]
    S:"Blueprint Types Allowed"=BOTH

    # Items that block-placing tools can "use" by simulating a right-click. [default: [danknull:dank_null], [xreliquary:sojourner_staff], [torchbandolier:torch_bandolier]]
    S:"Items That Block Placer Tools Can Use List" <
        danknull:dank_null
        xreliquary:sojourner_staff
        torchbandolier:torch_bandolier
     >

    # These items will be able to place blocks by using them (right-click-to-place) [default: [silentgear:pickaxe], [silentgear:shovel], [silentgear:axe]]
    S:"Items That Place Blocks List" <
        silentgear:pickaxe
        silentgear:shovel
        silentgear:axe
     >

    # Spawn players with a blueprint package containing some starter blueprints (set false to disable). This uses the starter_blueprints loot table.
    B:"Spawn With Starter Blueprints"=true

    sinew {
        # These entities can drop sinew. It is not restricted to animals. [default: [minecraft:cow], [minecraft:sheep], [minecraft:pig]]
        S:"Animals That Drop Sinew List" <
            minecraft:cow
            minecraft:sheep
            minecraft:pig
         >

        # The probability an animal will drop sinew. [range: 0.0 ~ 1.0, default: 0.20000000298023224]
        S:"Drop Rate"=0.20000000298023224
    }

    gear {
        # Block matching mode for hammers and excavators. LOOSE will break any blocks the tool can harvest together (bit OP with blocks like obsidian), MODERATE will break blocks of similar harvest levels, and STRICT will only mine one block type.
        # Valid values: [LOOSE, MODERATE, STRICT] [default: MODERATE]
        S:"AOE Tool Match Mode"=MODERATE

        # Ore matching mode for hammers and excavators, overrides standard match mode if both blocks are ores. LOOSE will break anything, MODERATE will break the same harvest level or lower, STRICT will break only the same block type.
        # Valid values: [LOOSE, MODERATE, STRICT] [default: STRICT]
        S:"AOE Tool Ore Match Mode"=STRICT

        # If enabled, tools/weapons/armor are destroyed when broken, just like vanilla.
        B:"Gear Breaks Permanently"=false

        # The effectiveness of anvil repairs (based on material durability). Set to 0 to disable. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Repair Factor Anvil"=0.5

        # The effectiveness of quick repairs (based on material durability). Set to 0 to disable. [range: 0.0 ~ 1.0, default: 0.3499999940395355]
        S:"Repair Factor Quick"=0.3499999940395355

        # If enabled, upgrades (like tip upgrades) can only be applied in anvils.
        B:"Upgrades Anvil Only"=false

        recipes {
            # If enabled, gear items can be crafted without blueprints, similar to vanilla items or Silent's Gems. The downside of this is it does not prevent recipe conflicts, and the recipes are shaped.
            B:"Blueprint-less Gear Recipes"=false
        }

    }

    ##########################################################################################################
    # nerfed_gear
    #--------------------------------------------------------------------------------------------------------#
    # Settings for nerfing gear from vanilla or other mods.
    ##########################################################################################################

    nerfed_gear {
        # The durability of items in the nerfed gear list will be multiplied by this value. [range: 0.0 ~ 1.0, default: 0.5]
        S:"Durability Multiplier"=0.5

        # These items will have reduced durability to discourage use, but they can still be crafted and used as normal. Items from other mods can be added to the list, but I cannot guarantee their durability will actually change. [default: [minecraft:wooden_pickaxe], [minecraft:stone_pickaxe], [minecraft:iron_pickaxe], [minecraft:golden_pickaxe], [minecraft:diamond_pickaxe], [minecraft:wooden_shovel], [minecraft:stone_shovel], [minecraft:iron_shovel], [minecraft:golden_shovel], [minecraft:diamond_shovel], [minecraft:wooden_axe], [minecraft:stone_axe], [minecraft:iron_axe], [minecraft:golden_axe], [minecraft:diamond_axe], [minecraft:wooden_sword], [minecraft:stone_sword], [minecraft:iron_sword], [minecraft:golden_sword], [minecraft:diamond_sword], [minecraft:leather_helmet], [minecraft:chainmail_helmet], [minecraft:iron_helmet], [minecraft:diamond_helmet], [minecraft:golden_helmet], [minecraft:leather_chestplate], [minecraft:chainmail_chestplate], [minecraft:iron_chestplate], [minecraft:diamond_chestplate], [minecraft:golden_chestplate], [minecraft:leather_leggings], [minecraft:chainmail_leggings], [minecraft:iron_leggings], [minecraft:diamond_leggings], [minecraft:golden_leggings], [minecraft:leather_boots], [minecraft:chainmail_boots], [minecraft:iron_boots], [minecraft:diamond_boots], [minecraft:golden_boots]]
        S:"Nerfed Gear List" <
            minecraft:wooden_pickaxe
            minecraft:stone_pickaxe
            minecraft:iron_pickaxe
            minecraft:golden_pickaxe
            minecraft:diamond_pickaxe
            minecraft:wooden_shovel
            minecraft:stone_shovel
            minecraft:iron_shovel
            minecraft:golden_shovel
            minecraft:diamond_shovel
            minecraft:wooden_axe
            minecraft:stone_axe
            minecraft:iron_axe
            minecraft:golden_axe
            minecraft:diamond_axe
            minecraft:wooden_sword
            minecraft:stone_sword
            minecraft:iron_sword
            minecraft:golden_sword
            minecraft:diamond_sword
            minecraft:leather_helmet
            minecraft:chainmail_helmet
            minecraft:iron_helmet
            minecraft:diamond_helmet
            minecraft:golden_helmet
            minecraft:leather_chestplate
            minecraft:chainmail_chestplate
            minecraft:iron_chestplate
            minecraft:diamond_chestplate
            minecraft:golden_chestplate
            minecraft:leather_leggings
            minecraft:chainmail_leggings
            minecraft:iron_leggings
            minecraft:diamond_leggings
            minecraft:golden_leggings
            minecraft:leather_boots
            minecraft:chainmail_boots
            minecraft:iron_boots
            minecraft:diamond_boots
            minecraft:golden_boots
         >
    }

}


last_version {
    I:last_build=76
}


salvager {
    # The maximum rate of part loss when salvaging items. 0 = no loss, 1 = complete loss. Rate depends on remaining durability. [range: 0.0 ~ 1.0, default: 0.35]
    S:"Max Loss Rate"=0.35

    # The minimum rate of part loss when salvaging items. 0 = no loss, 1 = complete loss. Rate depends on remaining durability. [range: 0.0 ~ 1.0, default: 0.0]
    S:"Min Loss Rate"=0.0
}


world {

    ##########################################################################################################
    # flax
    #--------------------------------------------------------------------------------------------------------#
    # Settings for flax and flaxseed drops
    ##########################################################################################################

    flax {
        # The weight of flaxseed drops. Set 0 to disable, higher numbers mean more common. Vanilla wheat seeds are 10. [range: 0 ~ 2147483647, default: 5]
        I:"Flaxseed Drop Weight"=5
    }

    flowers {
        # The chance of any given chunk having a cluster of blue flowers. [range: 0.0 ~ 1.0, default: 0.02500000037252903]
        S:"Cluster Chance"=0.02500000037252903

        # The maximum number of blue flowers per cluster. The actual number will vary, depending on the terrain and random chance. [range: 0 ~ 100, default: 10]
        I:"Cluster Size"=10
        I:"Dimension Blacklist" <
         >
    }

    netherwood {
        # The chance of any given chunk having a cluster of netherwood trees. [range: 0.0 ~ 1.0, default: 0.15000000596046448]
        S:"Cluster Chance"=0.15000000596046448

        # The maximum number of netherwood trees per cluster. The actual number will vary, depending on the terrain and random chance. [range: 0 ~ 50, default: 6]
        I:"Cluster Max Size"=6

        # The minimum number of netherwood trees to TRY TO PLACE per cluster. Must be less than max size. [range: 0 ~ 50, default: 2]
        I:"Cluster Min Size"=2
    }

    ##########################################################################################################
    # crimson iron ore
    #--------------------------------------------------------------------------------------------------------#
    # World generation for Crimson Iron Ore
    ##########################################################################################################

    "crimson iron ore" {
        I:"Dimension Blacklist" <
         >
        I:"Max Y"=120
        I:"Min Y"=24
        D:"Vein Count"=24.0
        I:"Vein Size"=6
    }

}


