# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=太阳照屁股了！起床了各位!
    S:OnSleepText=睡着了.
    S:OnWakeText=离开了他的床.
    I:SleeperPerc=50
}


