# Configuration file

general {
    # Prevents disabled enchantments from being registered, use with caution
    B:"Nuclear Option"=false

    ##########################################################################################################
    # weapons
    #--------------------------------------------------------------------------------------------------------#
    # Combat Enchantment Config
    ##########################################################################################################

    weapons {
        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable 2 Lifesteal"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Back to the chamber"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Combo"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Cursed Jumping"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Deflect"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Disarm"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Exploding"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Fast Placing"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Floating"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Harvesting"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Homing"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Instant Death"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Lightning"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Paralysis"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Phasing"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Piercing"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Quickdraw"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Reflect"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Ricochet"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Shattering"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Solar"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Swift"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Teleportation"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Teleposistion"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Torches"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable True Shot"=NORMAL
        I:"Max Swiftness level"=5
    }

    ##########################################################################################################
    # tools
    #--------------------------------------------------------------------------------------------------------#
    # Tool Enchantment Config
    ##########################################################################################################

    tools {
        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Equal Mine"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Eternal"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Global Traveller"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Grappling"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Lumberjack"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Magnetic"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Momentum"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Obsidian Buster"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Randomness"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Resistance"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Snatching"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Stonebound"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Stonelover"=NORMAL
    }

    ##########################################################################################################
    # curses
    #--------------------------------------------------------------------------------------------------------#
    # Curse Enchantment Config
    ##########################################################################################################

    curses {
        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Breaking"=ANVIL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Butterfingers"=ANVIL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Fumbling"=ANVIL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Shadow"=ANVIL
    }

}


