# Configuration file

animation {
    # Are the animation frames solid? [default: true]
    B:areFramesSolid=true

    # The background color used during the animation. [default: 000000]
    S:backgroundColor=000000

    # Should the animation scale down to fill the screen? [default: true]
    B:enableScalingDown=true

    # Should the animation, if scaled, use a bilinear filter? [default: true]
    B:enableScalingFilter=true

    # Should the animation scale up to fill the screen? [default: false]
    B:enableScalingUp=false

    # The fade out time after the final frame of animation. [range: 0.0 ~ 5.0, default: 1.0]
    S:fadeOutTime=1.0

    # The delay for each frame of animation, in seconds. [range: 0.005 ~ 1.0, default: 0.03]
    S:frameDelay=0.03

    # The directory containing the animation frames, which should be of the filename format [number].[extension]. [default: animation]
    S:frameFileDirectory=animation
}


