# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        压缩能源炉的产能被极大的提升了, 意味着制作石油全家桶的性价比非常高
        AE2的压印器被完全移除了
        EnigTech2整合包截止v1.0.0-Release版本拥有20个模块化机械
        林业在EnigTech2整合包的唯一作用就是多方块农场
        蒸汽涡轮(模块化机械)的产能非常之高
        虽然魔能高炉MK2的速度提升了一倍，单位耗能也同时提升了一倍
        EXU2模组的彩虹发电机被完全移除了
        龙之研究模组和等价交换模组被锁在了阶段Alpha
        符文压印器原本设计的是需要mana才能运行,但发现在活石上铭刻字样需要的能量只有激光才能提供后更换为了余烬能
        EXTE服务器为本整合包的除错工作做出了卓越贡献
        EnigTech整合包的名字源自Dong031001的第一个1.12.2整合包：Enigventure
        这是Tuna5544参与制作的第二个大型整合包，第一个是EnigTech一代
        Dong031001和Tuna5544制作的进度风格完全不一样，你甚至都可以观察规律来判断一个进度是谁写的
        EnigTech一代拥有一个完全没有作用的模组：ContentTweaker
        阶段四是目前制作时长最长的阶段,也是流程最长的阶段
        Dong031001为了制作这个整合包，写了一个制作进度脚本文件的程序
        第五阶段的进度文本名十分狂野
        寂静宝石模组的工具和装备在前期极为实用
        在v1.0.2版本前，制作耐火混合物是会消耗粘土花的
        真空合金炉(模块化机械)在不提供高放射性辐射源的情况下需要大量Mekanism热量来运行
        你的第一个创造模式物品最有可能是永恒魔力池
        制作一台熵收集器(模块化机械)需要近450个虚空金属锭，也就是450个奇点暨1.152*10^8个任意物品加上一些其他材料
        在服务器游玩过程中有可能没有解锁第一阶段，使用一块泥土就可以合成隐藏物品：蒙昧之土，来解锁第一阶段
        游戏前期的难度被极大的降低过，平衡前原本产物的数量基本都为现在配方的一半以下
        EXTE服务器的肝帝最快用时40小时到达第五阶段
        你可能需要很多龙息来应付大量的极寒之凛冰需求
        使用烈焰之炽焱可以制作大量炽铁锭
        若不使用复制配方,到达第五阶段前你可能需要屠杀近十只九头蛇
        Dong031001著有自然灵气视频教程
        Tuna是由5544片金叶以及5544条鱼组成的
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


