# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        压缩能源炉的产能被极大的提升了, 意味着制作石油全家桶的性价比非常高
        AE2的压印器被完全移除了
        EnigTech2整合包截止v1.2.12-Release版本拥有30个模块化机械
        林业在EnigTech2整合包的唯一作用就是多方块农场
        蒸汽涡轮(模块化机械)的产能非常之高
        虽然魔能高炉MK2的速度提升了一倍，单位耗能也同时提升了一倍
        EXU2模组的彩虹发电机被完全移除了
        龙之研究模组和等价交换模组被锁在了阶段Alpha
        能量凝聚装置需要一千亿RF/T的能量输入，但是，龙之研究反应堆的产出也被随之提高了一百万倍
        使用月之锋刃来提取精血会对玩家自身造成999999999点伤害
        符文压印器原本设计的是需要mana才能运行,但发现在活石上铭刻字样需要的能量只有激光才能提供后更换为了余烬能
        EXTE服务器为本整合包的除错工作做出了卓越贡献
        EnigTech整合包的名字源自Dong031001的第一个1.12.2整合包：Enigventure
        这是Tuna5544参与制作的第二个大型整合包，第一个是EnigTech一代
        Dong031001和Tuna5544制作的进度风格完全不一样，你甚至都可以观察规律来判断一个进度是谁写的
        EnigTech一代拥有一个完全没有作用的模组：ContentTweaker
        阶段四是目前制作时长最长的阶段,也是流程最长的阶段
        Dong031001为了制作这个整合包，写了一个制作进度脚本文件的程序
        第五阶段的进度文本名十分狂野
        寂静宝石模组的工具和装备在前期极为实用
        在v1.0.2版本前，制作耐火混合物是会消耗粘土花的
        真空合金炉(模块化机械)在不提供高放射性辐射源的情况下需要大量Mekanism热量来运行
        你的第一个创造模式物品最有可能是永恒魔力池
        在玄理之路官方服务器活动中，歪总及其队伍耗时75小时成功飞升
        制作一台熵收集器(模块化机械)需要近450个虚空金属锭，也就是450个奇点暨1.152亿个物品加上一些其他材料
        在服务器游玩过程中有可能没有解锁第一阶段，使用一块泥土就可以合成隐藏物品：蒙昧之土，来解锁第一阶段
        游戏前期的难度被极大的降低过，平衡前原本产物的数量基本都为现在配方的一半以下
        EXTE服务器的肝帝最快用时40小时到达第五阶段
        你可能需要很多龙息来应付大量的极寒之凛冰需求
        使用烈焰之炽焱可以制作大量炽铁锭
        若不使用复制配方,到达第五阶段前你可能需要屠杀近十只九头蛇
        焦煤的燃烧时间被大大降低了，取而代之的是优质燃料
        前期可以使用流体漏斗来导出焦炉中的过多杂酚油
        中期使用矿车来运送物品的性价比比使用管道要高，部分原因是因为管道十分昂贵
        Dong031001著有自然灵气视频教程
        Tuna是由5544片金叶以及5544条鱼组成的
        在草中有一百万分之一的几率掉落出 世界树的意志
        充盈的混沌源质有三种不同的获得方式
		魔能高炉分为五个等级，最高等级能够一秒处理10个原料
		制作充能银需要大号的余烬能源输入仓
		魔力激发器能够使用一个灰烬水晶簇产出半个池子的魔力
		温室玻璃在专家模式中拥有多个不同的合成配方
		燧石也可以用来在合成栏中修复寂静宝石装备
		你在钻研根源魔法吗？为什么你的背包里还放着法术收容袋？
		子沙（Snad）的“特性”被完全剔除了
		ChromaPIE刻意调高了珍珠奶茶的解渴值来表达对它的爱
		茅屋箱子里的问号们大多都是好东西！
		过多的转运器会对服务器的TPS造成极大影响
		不妨在解锁一个新阶段后逛逛你先前已探索过的矿洞吧！
		别担心以后的日子，我们决不会强迫你频繁地光顾暮色森林
		/packmode expert，重启游戏，试试专家模式！
		第二阶段的进度文案完全 没有 任何 一丝一毫 的问题
		别忘了根源魔法和自然灵气！其中的一些设备可能会极大地推动你的发展
		带点巨型黑曜石回家！
		随手拉闸！EIO的简易级设备会随时间而损耗电能
		第四阶段的便携式温度调节器与止渴仪会彻底解决你的身体需求
		ET-Mariphilia推出后，通用机械与余烬复刻版将成为仅有的两个出现在了EnigTech全系列作品中的中大型模组
		在无限水特性被关闭前，水槽（懒人厨房）曾因其管道兼容性被广泛运用作各类机组的无限水来源
		暗无天日的末地或许是你最好的发展天地？
		精英工作台的合成材料包含162颗下界之星
		抽屉、奥术集存、应用能源······多拓展你的仓库来应付ET2独有的矿脉分布吧！
		水绣球的历史使命将在你获得第一份魔力尘后宣告完结...亦或者你想试试它的无限潜能？
		相信我，几乎所有令你举步维艰的材料都会随着你的发展，慢慢爆仓！
		牢抓主线！支线任务并不总是属于当前阶段
        石油钻井平台需要在沙漠的光天化日之下才能运行
        启命英的产能极为惊人
        不要滥用背包里的认领区块功能！
        崩溃了？别慌张，将崩溃报告的链接复制给会解决的人！
        ET-Mariphilia拥有目前独一无二的科技树系统
        ET-Mariphilia将在第二阶段测试结束后开始公共测试
        一板一眼！有花 -> 有矿脉，而矿脉不总伴随着荧光玫瑰！
        许多机器都有其升级版本，试试蒸汽涡轮MK2吧！
        小黑塔+阿卡纳蔷薇=无限的魔力
        自然灵气的合成系统只能用于没有太大技术含量的物品和配方！
        也许奇点不一定需要物品来制作？
        部分EXU机器只有专家模式才可以制作！
        试试EnderIO吧！它拥有全模组中数一数二的管道系统！
        AE2空间塔可以用来一键搬家！
        主世界TPS过低？去太空发展吧！
        双锂矿石也许只有在暮色森林的矿山中才有生成？
        高级火箭模组不附带说明，你可能需要参阅相关教程和百科来学习如何上天！
        觉得ET2太肝？试试ETM吧——一个不肝不累不挂机，充满趣味的游戏体验！
        专家模式相较普通模式更接近1.2.0版本之前未区分难度的版本
        如果你的应用能源自动化系统在阶段五后不够庞大，那么你没有正确地游玩ET2整合包！
        世界内流体合成也可以在流体漏斗内完成——快去试试暨此来实现的有趣的玩法吧！
        流体漏斗能够将流体释放到世界中——与活塞配合来实现流体垃圾桶！
        等价没得换！
        钻石只是廉价的碳资源而已——你该找找铱锇矿脉了！
        你可以参阅《玄理矿脉百科》来获取所有关于矿脉的最新资讯！
        第六阶段才解锁的XNET模组中拥有全模组最不卡的传输系统和逻辑控制！
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


