# Configuration file

general {
    # Teleporter cooldown [range: 1 ~ 3600, default: 3]
    I:cooldown_seconds=1

    # These are destination multiplers. Each line is another entry. Each entry should consist of an integer dimension ID and an integer multiplier for traveling to that dimension separated by a colon ":" [default: [-1:8]]
    S:destination_multipliers <
        -1:8
     >

    # configgdesc.xpt.enable_recipes [default: true]
    B:enable_crafting=true

    # Only linking will cost xp, teleporting will be free [default: false]
    B:only_linking_uses_xp=false

    # Unlink teleporters when one is broken [default: false]
    B:unlink_broken=false

    # 0 - Disabled\n1 - Will teleport if required food is > 20 && existing > 0\n2 - Won't teleport if required food > 20 [range: 0 ~ 2, default: 0]
    I:use_food_levels=0

    # Experience required to teleport in the same dimension [range: 0 ~ 2147483647, default: 20]
    I:xp_for_1000_blocks=5

    # Experience required to teleport  to another dimension [range: 0 ~ 2147483647, default: 30]
    I:xp_for_crossdim=20
}


