# Configuration file

~CONFIG_VERSION: 3.0.0

beekeeping {
    # 蜂巢附近能生成的鲜花的最大数量。 [range: 0 ~ 1000, default: 20]
    I:flowers.spawn=20

    # 调整养蜂模式。 [default: NORMAL] [valid: [EASY, NORMAL, HARD, HARDCORE, INSANE]]
    S:mode=NORMAL

    # 后代出现第二只公主蜂百分率，此条为空岛/条件限制地图而设计。 [range: 0.0 ~ 100.0, default: 0.0]
    S:second.princess=0.0

    # 启用后，蜜蜂会尝试给树叶它自己授粉，以加速基因纯化。 [default: false]
    B:self.pollination=false

    # 蜜蜂每轮工作周期的 tick 数。 [range: 250 ~ 850, default: 550]
    I:ticks.work=550

    hivedamage {
        # The bees only attack the player if he starts to destroy the hive. [default: true]
        B:onlyAfterAttack=true

        # Whether bees can damage other entities than the player. [default: false]
        B:onlyPlayers=false

        # 启用后，玩家即便是在和平模式下也会遭到蜜蜂攻击。 [default: false]
        B:peaceful=false

        # 蜜蜂是否能对水下玩家造成伤害。 [default: true]
        B:underwater=true
    }

}


species {
    # 以 UID 为识别将物品加入黑名单中，按行添加。 [default: ]
    S:blacklist <
     >
}


